.wrapper {
    position: relative;
}

.buzz {
    position: absolute;
    opacity: 0;
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}